@page "/"

<PageTitle>Blazor Uploader</PageTitle>

<h1>BlazorUploader server side demos</h1>

<br />
<br />
<p>The Blazor Uploader Upload Control allows users to select and upload files files from a client computer and save them on the server.</p>
<p>With just a couple of lines of code you can implement Blazor Uploader in both Blazor WebAssembly (WASM) and Server-side Blazor apps.</p>
<br />
<br />
<p>The demos demonstrate how to use Blazor Uploader in Blazor Server applications.</p>

<br />
<br />
<p>For Blazor WebAssembly online demos, please visit <a href="http://webassembly-demos.blazoruploader.com">WebAssembly Demos</a>. </p>

<br />
<br />
<p>
    You can download the demo source code from download page. <a href="https://blazoruploader.com/download.aspx">https://blazoruploader.com/</a>.
</p>